altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
docstring-to-markdown==0.15
idna==3.6
jedi==0.19.1
packaging==24.0
parso==0.8.4
pip==24.0
pluggy==1.4.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PySide6==6.6.3.1
PySide6_Addons==6.6.3.1
PySide6_Essentials==6.6.3.1
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.11.0
requests==2.31.0
setuptools==65.5.0
shiboken6==6.6.3.1
ujson==5.9.0
urllib3==2.2.1
